@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply bg-[rgb(14,14,16)] min-h-screen  w-full;
  }

  .active-link {
    @apply border-b-2 border-b-red h-fit;
  }

  .call-to-action {
    @apply px-5 py-[.3em] text-sm rounded-3xl font-medium;
  }

  .call-to-action.watch-now {
    @apply bg-red;
  }

  .call-to-action.watch-trailer {
    @apply border border-white;
  }
}

.call-to-action.watch-trailer:hover {
  color: rgb(255, 0, 0);
  background: white;
  transition: 0.2s all ease-in;
}

.call-to-action.watch-now:hover {
  box-shadow: 0 0 20px rgb(255, 0, 0);
  transition: 0.2s all ease-in;
}
